* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f7f7f7;
}
a {
  text-decoration: none;
}

.main-width {
  width: 1400px;
  margin: 0 auto;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.main-container {
  width: 1400px;
  margin: 0 auto;
  border-radius: 10px;
  background: #ffffff;
  box-sizing: border-box;
}
.page-title {
  font-size: 28px;
  font-weight: bold;
}

/* element ui */
.el-input__wrapper,
.el-textarea__inner {
  background: #ededed;
}
